main{
   display:flex;
   flex-direction: column;
   align-items: center;
  h2{
        font-size: 38px;
    }
    .card{
        margin-top: 30px;
        margin-bottom: 40px;
    }
    article{
        display: flex;
        flex-wrap: wrap;
        color: white;
        justify-content: center;
        width: 80%;
        margin-bottom: 50px;
    }
}