* {
  box-sizing: border-box;
}

:root {
  --c1: #ff00d4;
  /* Couleur 1 */
  --c2: #c300ff;
  /* Couleur 2 */
  --angle: 90deg;
  --gradX: 50%;
  --gradY: 0%;
  --d: 2s;
  /* Remplacez 2s par la durée d'animation souhaitée */
}


.toggle {

  width: 155px;
  left: 5%;
  margin-top: 50px;
  margin-left: 15%;
  background: #2f363e;
  border: 5px solid #fff;
  border-radius: 25%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
  font-size: 2em;
  transition: transform 0.5s;
}

.toggle.active {
  transform: rotate(315deg);
}

.Animated-Radial-Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2f363e;
}

h1 {
  font-size: 54px;
  font-family: 'Black Ops One';
}


.Animated-Radial-Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2f363e;
}

.Animated-Radial-Menu .menu {
  position: relative;
  width: 472px;
  height: 472px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  display: flex;
  width: 80%;

  flex-direction: row-reverse;
  margin-left: 55%;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .intro {
    flex-direction: column;
    flex-wrap: wrap;
    margin-left:15%;
  }
}

@media screen and (max-width:320px) {
  .intro {
    flex-direction: column;
  }

}

h4 {
  font-family: 'Black Ops One';
  font-size: 24px;
}

.menu-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  .Autor {
    position: absolute;

    border-radius: 25px;
    border: #c300ff solid 1px;
    left: 8%;
    width: 293px;
    transition: transform 0.5s ease, opacity 0.3s ease, -webkit-filter 0.2s ease-in-out;
    animation: neon-glow-pink 1.5s ease-in-out infinite;
    opacity: 0;



    &.active {
      opacity: 1;
      transform: translateY(-20px);

      filter: grayscale(0);
      -webkit-filter: grayscale(100%);

    }

    &:hover {

      filter: grayscale(0%);
      -webkit-transform: scale(1);
      transform: scale(1.5);
      z-index: 1;
      position: absolute;
      bottom: 20%;
    }
  }
}

.icones {

  color: #c300ff;
  width: 50px;
  margin: 10px;
  margin-top: 20px;
  height: 50px;

}

strong {
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: #c300ff solid 1px;
  border-radius: 15px;
  padding: 10px;
}

@media screen and (max-width:320px) {
  strong {
    text-align: center;
    align-items: center;
    font-size: 12px;
    width: 256px;
    height: 88px;
  }
}

.Strong {
  margin-top: 20px;
}

.projets {
  position: absolute;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 6%;
  left: 18%;
}

@media screen and (max-width: 768px) {
  .projets {
    position: absolute;
    flex-direction: column;
    top:8%;
    left:24%
  }

}

@media screen and (max-width:320px) {

  .projets {
    top: 400px;
    flex-direction: row;
    left: 84px;
  }
}

.buttons {
  width: 344px;
  margin-top: 10%;
  display: flex;
  padding: 0px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {

  .buttons {

    flex-direction: row;
   
   
    margin-top: 106px;
  }
}

@media screen and (max-width:320px) {

  .buttons {
    width: 211px;
    flex-direction: row;
margin-left: -25px;

  }
}


.about-me {
  margin-right: 26%;
}

@media screen and (max-width: 768px) {
  .about-me {
    margin-right: 0;
    width: 176%;
  }

}

.About {

  width: 60%;
  position: relative;
  margin-top: 5%;

  margin-bottom: 50px;
  padding: 20px;
  border-radius: 55px;
  overflow: hidden;
  border: 0.35rem solid;
  transition: 0.3s;

  .arcticle {
    padding: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 75px;
    animation: neon-glow-pink 1.5s ease-in-out infinite;
  }

  animation: borderRotate var(--d) linear infinite forwards;

  border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%);
  animation: borderRadial var(--d) linear infinite forwards;




}

@media screen and (max-width:768px) {

  .About {
    width: 50%;
margin-top: 4%;
margin-bottom: 15%;
  }


}

@media screen and (max-width:320px) {

  .About {
    width: 51%;
    left: -3%;
    top: 236px;
    margin-bottom: 57%;
  }
}

article {

  padding: 40px;
}

@media screen and (max-width:320px) {

  article {
   padding:0;
  }
}


.Autor .active {
  position: absolute;
  margin-right: 102%;
  width: 200px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }

  40% {
    --gradX: 100%;
    --gradY: 100%;
  }

  60% {
    --gradX: 50%;
    --gradY: 100%;
  }

  80% {
    --gradX: 0%;
    --gradY: 50%;
  }

  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}

@keyframes neon-glow-pink {

  0%,
  100% {
    box-shadow: 0 0 10px #fe00f1, 0 0 20px #fe00f1, 0 0 30px #fe00f1;
  }

  50% {
    box-shadow: 0 0 20px #fe00f1, 0 0 30px #fe00f1, 0 0 40px #fe00f1;
  }
}

.menu-wrapper li {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu-wrapper.active li {
  opacity: 1;
  transform: translateY(0);
}

.menu-wrapper .About {
  opacity: 0;

  transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu-wrapper.active .About {
  opacity: 1;
  margin-bottom: 25%;

  transition: opacity 0.5s ease, transform 0.5s ease;
}

@media screen and (max-width:768px) {
  .titleProjets {
    display: flex;
    position: absolute;

    top: 10px;
  }
}

@media screen and (max-width:320px) {
  .titleProjets {
    display: flex;
    position: absolute;
    width: 159px;
    top: 39px;
    left: 3%;
  }



}

.Animated-Radial-Menu .menu {
  position: relative;
  width: 472px;
  height: 472px;
  display: flex;
  justify-content: center;
  align-items: center;
}