* {
    box-sizing: border-box;
  }
  

  
  .card {
 display: flex;
   width: 80%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
    border-radius: 25px;

    color: #000;
    transform: translateZ(0);
  }
  
  .card__img {
    width: 100%; max-width: 100%; 
    height: 100%;
   border: 5px solid purple;
    overflow: hidden;
    border-radius: 25px;
    transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
    transition: transform 0.2s;
    animation: neon-border 1.5s ease-in-out infinite alternate;
  }
  

  
  .card__action {
    position: absolute;
    aspect-ratio: 1;
    width: calc(var(--size) * 0.15);
    bottom: 30%;
    right: 1.5rem;
    transform: translateY(50%)
      translateY(
        calc(
          (var(--size) * 0.4)
        )
      )
      translateY(calc(var(--hover, 0) * (var(--size) * -0.4)));
    background: purple;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    background: hsl(0 0% 100% / 0.5);
  /*   backdrop-filter: blur(calc(var(--blur) * 0.5)); */
    transition: transform 0.2s;
  }
  
  
  
  .card__footer span:nth-of-type(1) {
    font-size: calc(var(--size) * 0.065);
  }
  
  .card__footer span:nth-of-type(2) {
    font-size: calc(var(--size) * 0.035);
  }
  
  .card:is(:hover, :focus-visible) {
    --hover: 1;
  }
  span {
    position: absolute;
    border-radius: 100vmax;
    
  }
  span,
  .top,
  .bottom,
  .left,
  .right {
    position: absolute;
    border-radius: 100vmax;
    animation: neon-border 1.5s ease-in-out infinite;
  }
  .top {
    top: 0;
    left: 0;
    width: 0;
    height:10px;
    background: linear-gradient(
      90deg,
      transparent 50%,
      #fe00f1,
      #fe00f1
    );
    animation: animateTop 3s ease-in-out infinite;
  }
  
  .bottom {
    right: 0;
    bottom: 0;
    height: 10px;
    background: linear-gradient(
      90deg,
      #fe00f1,
      #fe00f1,
      transparent 50%
    );
    animation: animateBottom 3s ease-in-out infinite;
  }
  
  .right {
    top: 0;
    right: 0;
    width: 10px;
    height: 0;
    background: linear-gradient(
      180deg,
      transparent 30%,
     #fe00f1,
     #fe00f1
    );
    animation: animateRight 3s ease-in-out infinite;
  }
  
  .left {
    left: 0;
    bottom: 0;
    width: 10px;
    height: 0;
    background: linear-gradient(
      180deg,
      #fe00f1,
      #fe00f1,
      transparent 70%
    );
    animation: animateLeft 3s ease-in-out infinite;
  }
  
  .top {
    animation: animateTop 3s ease-in-out infinite;
  }
  
  .bottom {
    animation: animateBottom 3s ease-in-out infinite;
  }
  
  .right {
    animation: animateRight 3s ease-in-out infinite;
  }
  
  .left {
    animation: animateLeft 3s ease-in-out infinite;
  }
  
  @keyframes animateTop {
    25% {
      width: 100%;
      opacity: 1;
    }
  
    30%,
    100% {
      opacity: 0;
    }
  }
  
  @keyframes animateBottom {
    0%,
    50% {
      opacity: 0;
      width: 0;
    }
  
    75% {
      opacity: 1;
      width: 100%;
    }
  
    76%,
    100% {
      opacity: 0;
    }
  }
  
  @keyframes animateRight {
    0%,
    25% {
      opacity: 0;
      height: 0;
    }
  
    50% {
      opacity: 1;
      height: 100%;
    }
  
    55%,
    100% {
      height: 100%;
      opacity: 0;
    }
  }
  
  @keyframes animateLeft {
    0%,
    75% {
      opacity: 0;
      bottom: 0;
      height: 0;
    }
  
    100% {
      opacity: 1;
      height: 100%;
    }
  }
  @keyframes neon-border {
    0% {
      border-color: #fe00f1;
      box-shadow: 0 0 10px #fe00f1, 0 0 20px #fe00f1, 0 0 30px #fe00f1;
    }
    100% {
      border-color: #fe00f1;
      box-shadow: 0 0 10px #fe00f1, 0 0 20px #fe00f1, 0 0 30px #fe00f1;
    }
  }